.plants_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 8px;
  flex-wrap: wrap;
}

.plants {
  width: 285px;
  height: 505px;
  padding: 10px;
  border: solid 1px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px grey;
  background-color: white;
}

.plant_images {
  width: 250px;
  height: 250px;
  border-radius: 5%;
}
