.parent_container {
  display: flex;
  justify-content: center;
}
.form_container {
  width: 100vw;
  height: 100vh;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 95%;
  background-color: #ecf5b6;
}

.label {
  background-color: whitesmoke;
  border-radius: 5%;
  padding: 10px;
}

.input {
  padding: 10px;
  border: none;
}

.Button {
  padding: 10px;
  border: none;
}
